:root {
  --gray-1: #e9ecef;
  --gray-2: #495057;
  --gray-3: #343a40;
  --gray-4: #212529;
  --gray-5: #adb5bd;
}

#root {
  max-width: 1280px;
  padding: 1rem 2rem 2rem 2rem;
  min-width: 100%;
}

/* Navigation */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  gap: 20px;
  padding: 15px;
  background-color: var(--gray-1);
  border-radius: 5px;
}

.logo {
  font-size: 180%;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  line-height: 180%;
}

.navbar-nav {
  display: flex;
}

.navbar-nav .nav-link {
  padding: 10px;
  text-decoration: none;
}

.navbar-nav .nav-link {
  color: var(--gray-2);
}

.navbar-nav .nav-link.active {
  color: var(--gray-4);
  text-decoration: underline;
  scale: 1.1;
}

.navbar-nav .nav-link:hover {
  color: var(--gray-3);
  scale: 1.1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
  gap: 50px;
}

.footer a {
  font-size: 300%;
  color: var(--gray-2);
  margin-top: 25px;
}

.footer a:hover {
  scale: 1.1;
  color: var(--gray-3);
}

/* Page styling */
.page-container {
  border-radius: 5px;
  padding: 15px;
  border: 1px solid rgb(242, 242, 242);
  box-shadow: 5px 5px 5px 5px rgb(232, 232, 232);
}
.page-container > p:first-child{
  font-size: 120%;
}
.page-container:hover {
  box-shadow: 2px 2px 2px 3px #f0f0f0;
}

.project-container {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  padding: 25px 0;
  flex-wrap: wrap;
}

.project-block {
  display: flex;
  flex-direction: column;
  border: 1px solid #bfbfbf;
  min-width: 300px;
  min-height: 300px;
  flex: 1;
  flex-basis: 45%;
  border-radius: 10px;

  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
}

.tile-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  min-width: 300px;
  min-height: 300px;
  width: 100%;
}

.tile-background:hover {
  opacity: 0.5;
}

.project-links {
  font-size: 120%;
  visibility: hidden;
  position: absolute;
  opacity: 1;
  text-wrap: nowrap;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-block:hover .tile-background {
  opacity: 0.5;
}

.project-block:hover {
  box-shadow: 1px 1px 5px 5px #c7c7c7;
}

.project-block:hover .project-links {
  visibility: visible;
  text-align: center;
}

.project-title {
  padding: 10px;
  background-color: var(--gray-3);
  color: var(--gray-1);
  text-decoration: none;
  font-size: 170%;
}

.github-link {
  padding: 10px;
  background-color: var(--gray-3);
  color: var(--gray-1);
  font-size: 170%;
}

.project-subtitle {
  background-color: var(--gray-3);
  color: var(--gray-1);
  padding: 10px;
  text-align: center;
  display: block;
}

.project-title:hover, .github-link:hover {
  color: var(--gray-5);
}

.project-block:hover .project-subtitle {
  visibility: visible;
}

/* project tile backgrounds */

.space-jam-x {
  background-image: url("/images/space-jamx-demo.gif");
}

.majority-matters {
  background-image: url("/images/majority-matters.gif");
}

.weather-dashboard {
  background-image: url("/images/weather-dash.png");
}

.jate {
  background-image: url("/images/00-demo.gif");
}

.workday-planner {
  background-image: url("/images/05-third-party-apis-homework-demo.gif");
}

.note-taker {
  background-image: url("/images/note-taker.gif");
}

.readit {
  background-image: url("/images/ReadIt.gif");
}

/* Contacts form */
.contacts-form {
  max-width: 600px;
  padding: 10px 0;
}

.contacts-form label {
  padding: 10px 0 0;
  display: block;
}

.contacts-form input {
  width: 100%;
  border: 1px solid var(--gray-5);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.contacts-form textarea {
  border: 1px solid var(--gray-5);
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.contacts-form button {
  border: 1px solid var(--gray-5);
  border-radius: 5px;
  padding: 5px 25px;
  margin: 20px 0;
  width: 100%;
}

.contacts-form button:hover {
  background-color: #f8f9fa;
}

.error-message {
  height:20px;
  font-size: 90%;
  color: var(--gray-3)
}

/* About me page */
.profile-pic {
  width: 200px;
  height: auto;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 1px 1px 3px 3px #c7c7c7;
  margin: 25px 0;
}

.profile-pic:hover {
  scale: 1.1;
}

.aboutme-container p {
  padding: 5px 0;
}

/* Resume */
.download-link {
  color: var(--gray-2);
  display: inline-block;
  text-decoration: none;
}

.download-link i {
  padding: 0 15px;
  font-size: 150%;
}

.download-link:hover {
  scale: 1.1;
  color: var(--gray-3);
}

.section {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin: 15px 0;
  padding: 10px;
}

.section .section-header {
  font-size: 120%;
  margin: 10px 0;
}

.section ul {
  margin-left: 25px;
}

.section ul li {
  list-style-type: circle;
}

/* media queries for responsiveness */
/* let the projects tile one per row when below 1020px */
@media (max-width: 1020px) {
  .project-block {
    flex-basis: 95%;
  }
}

/*  for mobile/smaller screens adjust padding/wrapping */
@media (max-width: 550px) {
  #root {
    padding: 2px;
  }

  .header {
    flex-wrap: wrap;
  }
}